#search-container {
    left: 0;
    position: absolute;

    &.navbar-fixed-top {
        background-color: #000;
        padding: 5px 0;
        position: fixed;
        top: 0 !important;

        .btn {
            margin-top: 0;
        }
    }
}
#search-actor-name {
    font-size: 19px;
    margin-bottom: 0;
    min-height: 42px;
}
#content {
    display: none;
}
#credits-list {
    margin-left: 20px;
}