<div class="row-fluid">
    <div class="hero-unit">
        <h1>The Movie Database</h1>
        <div class="search-form">
            <form action="/results" method="get" accept-charset="utf-8">
                {{ form_start(form) }}
                    {{ form_widget(form.keyword) }}
                    {{ form_widget(form.criteria) }}

                    <input type="submit" value="Search" class="btn span2">
                {{ form_end(form) }}
            </form>
        </div>
    </div>
</div>
