<!DOCTYPE html>
<html>
    <head>
        <title>Alert Logic PHP Test</title>
    </head>
    <body>
        <!-- jQuery -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    </body>
</html>